body{
  background: #0E0E15;
}

@media (max-width: 768px) { 
  .container{
    border: blueviolet 1px solid;
  }}
  
@media (min-width:768px ) and (max-width: 992px) {
  .container{
    border: red 1px solid;
  }
}  
@media (min-width:992px){
  .container{
    border:white 1px solid;
  }
}  

/* searchbar container */

.search_row{
  width: 323px;
  height: 60px;
}
.search_box{
  padding: 0px;
}
.input_box{
  height: 60px;
  width: 240px;
  padding: 0px 0px 0px 50px;
}
.add_btn{
  color:#F3F3F3;
  font-weight: 400;
  font-size: 20px;
  width: 83px;
  height: 60px;
  background:#F85146;
  border-radius: 0px 4px 4px 0px ;
  border: none;
  padding: 0px;
}

/* header css */

.imag_vector{
  margin-right:23px ;
}
.imag_list{
  margin-right: 36px;
}

.searchbar_row{
  display: flex;
  justify-content: space-between;
  border: 1px solid yellow;
  margin-top: 30px;
}
.heade_left{
  align-self:center;
}
@media (max-width: 768px) { 
  .searchbox{
    margin-top: 30px;
  }}
.searchbox{
  display: flex;
  align-self:center;
  justify-content: center;
}

.header_right{
  display:flex;
  align-self:center;
  justify-content:end;
}
.header_bottom{
  border:1px solid #F85146;
  margin-top: 30px;
}


/* footer css */

.footer-container{
  background-color:#272734;
  border-top: 1px solid #F3F3F3;
 
}

.footer-img{
  text-align: center;
  padding: 0px;
}
.one{
  margin-top: 41px;
  margin-bottom: 15px;
}
.two{
  margin-bottom: 28px;
}
.three{
  margin-bottom: 53px;
}

.bottom_border{
  border:1px solid #BB332B;
  margin-top: 37px;
}
.Tag{
  margin-top: 81px;
  margin-bottom: 30px;
  text-align: center;
}